/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: FETCH_SBML {
        publishDir = [
            path: { "${params.outdir}/sbml" },
            mode: params.publish_dir_mode,
            pattern: '*.sbml.gz'
        ]
    }

    withName: VALIDATE_SBML {
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
        ext.args = '--solver hybrid'
        publishDir = [
            path: { "${params.outdir}/validation" },
            mode: params.publish_dir_mode,
            pattern: '*.json.gz'
        ]
    }

    withName: MEMOTE_REPORT_SNAPSHOT {
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
        ext.args = '--solver hybrid'
        publishDir = [
            path: { "${params.outdir}/memote_report_snapshot" },
            mode: params.publish_dir_mode,
            pattern: '*.html'
        ]
    }

    withName: MEMOTE_RUN {
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
        ext.args = '--solver hybrid'
        publishDir = [
            path: { "${params.outdir}/memote_run" },
            mode: params.publish_dir_mode,
            pattern: '*.{json,json.gz}'
        ]
    }
}
