process {
    withName: MEMOTE_RUN {
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
        ext.args = '--solver hybrid'
        publishDir = [
            path: { "${params.outdir}/memote_run" },
            mode: params.publish_dir_mode,
            pattern: '*.{json,json.gz}'
        ]
    }
}
